
.logo{
    width: 120px;
    height: 120px;
}
header
{
    width: 100%;
}
header {
    background-color: #529bf3; 
}
footer { 
    background-color: #29d4ee;
}
body{
    background-color: #29d4ee;
}